/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:purple;
  padding: 15px 30px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: burlywood;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* Optional: responsive for mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
